In [1]:
import pandas as pd

In [5]:
df2018 = pd.read_excel('./2018/0.종합_18년기준 관광사업체조사_전처리.xlsx')
df2019 = pd.read_excel('./2019/2019년 기준 관광사업체조사_원자료_전처리.xlsx')

### 2018

In [10]:
df2018=df2018.iloc[:,:4]

       ID  Q8  Q9_1  Q9_2
0     895   8     2     1
1     906   8     2     8
2     905   8     2     8
3     900   8     2    10
4     902   8     2     8
...   ...  ..   ...   ...
4939  701   8     1     0
4940  699   8     1     0
4941  696   8     2     6
4942  700   8     1     0
4943  604   8     2     4

[4944 rows x 4 columns]

In [15]:
col_names = ['ID', '일일영업시간', '휴무일여부', '휴무일수']
df2018.columns = col_names

In [23]:
df2018.isna().sum()

ID        0
일일영업시간    0
휴무일여부     0
휴무일수      0
dtype: int64

### 2019

In [18]:
col_names = ['ID', '일일영업시간', '휴무일여부', '휴무일수']
df2019.columns = col_names

In [27]:
df2019.휴무일수.describe()

count    2494.000000
mean        7.107859
std         3.065666
min         1.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        26.000000
Name: 휴무일수, dtype: float64

In [28]:
import matplotlib.pyplot as plt

In [33]:
df2019.휴무일수.dropna().describe()

count    2494.000000
mean        7.107859
std         3.065666
min         1.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        26.000000
Name: 휴무일수, dtype: float64

In [36]:
import numpy as np

In [46]:
df2019['휴무일수']=df2019['휴무일수'].fillna(mode(df2019['휴무일수'].dropna())[0][0] )

In [48]:
df2019.isna().sum()

ID        0
일일영업시간    0
휴무일여부     0
휴무일수      0
dtype: int64

### 이상치 처리 후 저장

In [42]:
from scipy.stats import mode

In [45]:
mode(df2019['휴무일수'].dropna())[0][0]

8.0

In [57]:
len(df2018[df2018.휴무일여부 == 1])

3209

In [56]:
sum(df2018[df2018.휴무일여부 == 1].휴무일수 == 0)

3209

In [58]:
len(df2019[df2019.휴무일여부 == 1])

3562

In [69]:
df2019_1 = df2019[df2019.휴무일여부 == 1]
df2019_2 = df2019[df2019.휴무일여부 != 1]

In [75]:
df2019_1['휴무일수'] = 0

C:\Users\LG\AppData\Local\Temp\ipykernel_13292\663974521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019_1['휴무일수'] = 0

In [79]:
df2019 = pd.concat([df2019_1, df2019_2])

In [81]:
len(df2019[df2019.휴무일여부 == 1])

3562

In [82]:
sum(df2019[df2019.휴무일여부 == 1].휴무일수 == 0)

3562

In [83]:
df2018.to_excel('2018.xlsx', index=False)
df2019.to_excel('2019.xlsx', index=False)